In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [51]:
WinRate = 0.4
ReturnRisk = 2
Fee = 0.001
Stoploss = 0.025
Leverage = 5

In [52]:
NetGain = (ReturnRisk * Stoploss - Fee) * Leverage
NetLoss = (Stoploss + Fee) * Leverage
ExpectedReturn = WinRate * NetGain - (1 - WinRate) * NetLoss

In [53]:
100*ExpectedReturn

2.0000000000000004

In [1]:
t = (1, 2, 3, 4)

In [2]:
list(t)

[1, 2, 3, 4]

In [3]:
len(t)

4

In [4]:
t[3]=45

TypeError: 'tuple' object does not support item assignment

In [6]:
list1 = []
my_string = "abceiod"
k = [list1.append(i) for i in my_string if i not in "aeiou"]

In [7]:
print(k)

[None, None, None]

In [37]:
import pandas as pd

data = {'counts': [10, 20, 30, 40], 'items': [40, 50, 60, 70], 'names': [70, 80, 90, 100]}
df = pd.DataFrame(data, index=[0, 1, 2, 3])


# Using .loc to access the 'y' row
print(df.loc[1:3, ['items', 'names']])

# Using .iloc to access the second row (index 1)
print(df.iloc[1:3, [1,2]])

   items  names
1     50     80
2     60     90
3     70    100
   items  names
1     50     80
2     60     90

In [22]:
df[(df['names'] == 80) & (40 < df['items']) ]

   count  items  names
1     20     50     80

In [39]:
df[(df.names == 80) & (0 < df.counts)]

   counts  items  names
1      20     50     80

In [40]:
df.loc[(df.names == 80) & (0 < df['counts'])]

   counts  items  names
1      20     50     80

In [41]:
print(df.counts)

0    10
1    20
2    30
3    40
Name: counts, dtype: int64